* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 190px;
    /* background-color: #1b3351; */
}

.top-bar {
    width: 100%;
    height: 125px;
    background-color: #1b3351;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.width {
    width: 1200px;
}

.top-bar .width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
}

.navigation {
    display: flex;
    gap: 20px;
}
.navigation a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.navigation a img {
    width: 30px;
    border: 2px solid wheat;
    border-radius: 2px;
}

.top-bar .width > i {
    font-size: 22px;
    color: aliceblue;
    display: none;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation > ul > li {
    padding: 12px 12px;
    /* background-color: rgb(92, 244, 94); */
}

@media (width < 900px) {
    .navigation .nav-hidden {
        display: none;
    }

    .header .top-bar {
        padding: 0px 10px;
    }
    
    .header .top-bar {
        height: 90px;
    } 

    .top-bar .width i {
        display: block;
    }
}



.dropdown {
    position: relative;
}

.navigation > ul > li p{
    color: aliceblue;
}

.dropdown-content {
    width: 200px;
    height: auto;
    background-color: #0b1727;
    position: absolute;
    right: 0px;
    border-radius: 10px;
    border: 1px solid gray;
    display: none;
    top: 50px;
}

.dropdown .dropdown-content ul {
    display: block;
    text-align: right;
    list-style: none;
    padding-top: 10px;
}

.dropdown .dropdown-content ul li {
    margin: 5px 15px 10px 0px;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navigation > ul > li:hover {
    background-color: #0b1727;
    border-radius: 10px;
}

.header-menu {
    width: 100%;
    height: 65px;
    background-color: #122133;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu .width {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.header-menu .width nav  > ul {
    display: flex;
    list-style: none;
    gap: 28px;
}

.header-menu .width nav ul .dropdown-content {
    left: 0;
    top: 30px;
}

.header-menu .width nav ul .dropdown-content ul {
    text-align: left;
}