.slide-container {
    width: 100%;
    height: auto;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1B2232;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 1200px;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    width: 100%;
    height: 280px;
    background-color: #122133;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container .width {
    display: flex;
    justify-content: space-between;
}

.logo-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.logo-item .box {
    width: 80px;
    height: 80px;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 50px;
}

.logo-item p {
    color: aliceblue;
}

.post-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #091521;
}

.post-container .width {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
    overflow-x: auto;
}


.post-item {
    min-width: 300px;
    height: 400px;
    /* background-color: antiquewhite; */
    border-radius: 10px;
    overflow: hidden;
    background-color: #1B2232;
}

.post-item img {
    width: 100%;
}

.post-item > div {
    padding: 20px;
    /* background-color: #1B2232; */
}

.post-item > div a{
    line-height: 1.5;
    color: aliceblue;
    text-decoration: none;
}

.post-item:hover {
    transition: 0.3s all ease;
}

.post-item:hover img {
    transform: scale(1.05);
}

.post-item:hover  a{
    text-decoration: underline;
}